.majorHeading {
    color: #114592;
    font-family:Calibri;
    text-align:center;
    font-size: xx-large;
}

.minorHeading {
    color: #A5B6BF;
    font-family:Calibri;
}

.tableLabel {
    color: #4D7EC6;
    font-family:Calibri;
}

.bodyText {
    color: black;
    font-family: Calibri;
}

.bodyTextBold {
    color: black;
    font-family: Montserrat-Regular;
    font-size: medium;
    font-weight:bold;
}

.navbarHeading {
    color: white;
    font-family: Montserrat-Regular;
    text-align: center;
    font-size: xx-large;
}

.buttonFormatting {
    background-color: #114592;
    border: 2px solid #114592;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-family: Calibri;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .buttonFormatting:hover {
        background-color: white;
        color: #114592;
    }

.topnav {
    overflow: hidden;
    background-color: #4D7EC6;
}
.tableImages{
    width: 95%;
    height: auto;
    text-align: center;
}
.searchInput {
    float: right;
    box-shadow: none;
    height: 30px;
    color: black;
    text-indent: 10px;
    font-size: 14px;
    border-radius: 18px;
    outline: none;
    border-style: none;
}
.tableHead {
    background-color: #A5B6BF;
    color: #114592;
}
.tableRow:hover{
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    background-color: #4D7EC6;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover .dropdown a:hover .dropbtn{
            background-color: white;
            color: #4D7EC6;
        }

        .topnav a.active {
            background-color: white;
            color: #4D7EC6;
        }

.topnav-right {
    float: right;
}

.topnav-center {
    align-content:center;
}