@font-face {
	font-family: Montserrat-Bold;
	src: url('../../../montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat-Regular;
	src: url('../../../montserrat/Montserrat-Regular.ttf') format('truetype');
}


.majorHeading {
    color: #114592;
    font-family:Montserrat-Regular;
    text-align:center;
    font-size: xx-large;
}

.minorHeading {
    color: #A5B6BF;
    font-family:Montserrat-Regular;
    font-size: x-large;
}

.tableLabel {
    color: #4D7EC6;
    font-family:Montserrat-Bold;
    font-size: medium;
}

.bodyText {
    color: black;
    font-family: Montserrat-Regular;
    font-size:medium;
}

.bodyTextBold {
    color: black;
    font-family: Montserrat-Regular;
    font-size: medium;
    font-weight:bold;
}

.navbarHeading {
    color: white;
    font-family: Montserrat-Regular;
    text-align: center;
    font-size: xx-large;
}

.buttonFormatting {
    background-color: #114592;
    border: 2px solid #114592;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-family: Georgia;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .buttonFormatting:hover {
        background-color: white;
        color: #114592;
    }
.footer {
    background-color: #ffd696;
    padding: 10px;
    text-align: center;
}
.quickLinksHeading {
    color: black;
    font-family: Montserrat-Regular;
    font-size: large;
}


.topnav {
    overflow: hidden;
    background-color: #4D7EC6;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover .dropdown a:hover .dropbtn{
            background-color: white;
            color: #4D7EC6;
        }

        .topnav a.active {
            background-color: white;
            color: #4D7EC6;
        }

.topnav-right {
    float: right;
}

.topnav-center {
    align-content:center;
}